[data-theme="sandstone"].yt-search{
	@import "../bower_components/bootswatch/sandstone/variables";
	@import "_bootstrap-custom";

	//bodyをコピーする
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;

	@import "style";

}

